# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: shop-frontend ci/cd

on:
  push:
    branches: [ "main" ]


jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4

    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.OWNER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: ./Ticket-Shop
        file: ./Ticket-Shop/dockerfile
        push: true
        tags: ghcr.io/thi24/shop-frontend:latest
        build-args: |
          VITE_API_BASE_URL=${{ secrets.VITE_API_BASE_URL }}
          VITE_AUTH_TOKEN=${{ secrets.VITE_AUTH_TOKEN }}
          VITE_STRIPE_KEY=${{ secrets.PK_STRIPE_KEY }}
          API_PAYMENT_INTENT=${{ secrets.API_PAYMENT_INTENT }}
          PROCESS_ENGINE_START=${{ secrets.PROCESS_ENGINE_START }}
          PROCESS_TOKEN=${{ secrets.PROCESS_TOKEN }}
          INDEX_URL=${{ secrets.INDEX_URL }}

    - name: SonarQube Scan
      uses: sonarsource/sonarqube-scan-action@master
      with:
        projectBaseDir: ./Ticket-Shop
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: http://37.27.45.27:9000

          
    - name: Call a webhook for Portainer
      uses: distributhor/workflow-webhook@v3
      env:
        webhook_type: 'json'
        webhook_url: ${{ secrets.PORTAINER_WEBHOOK_URL }}
